header img {
    max-width: 10%;
    max-height: 10%;
}


header {
    background-color: #F5F5DC;
    position: relative;
    z-index: 1;
    padding: 20px;
}

/* Below makes sure it looks pretty */
body {
margin: 0;
}


.container {
	position: relative;
}

.background {
	position: absolute;
    background-image: url("css-pattern-by-magicpattern.png");
    z-index: -1;
    background-size: cover;
	animation: diagonal-move-anim 3s linear infinite alternate;
}

@keyframes diagonal-move-anim {

	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(150px, 150px);
	}

}

.bodyImages img {
    width: 40px;
    height: 30px;
}